.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.wrap{
  width: 100%;
  /* height: calc(100vh - 60px); */
  /* padding-top:50px; */
  padding:50px 0;
  color:#fff;
  background-color: #1D1D1E;
}

.wrapLoading{
  width: 100%;
  height: 100%;
  padding-top:50px;
  color:#fff;
  background-color: #1D1D1E;
}

.youtubeEmdedBox{
  position: relative;
  padding-bottom: 56.25%;
  /* padding-bottom: 75%; */
  /* 16:9 비율인 경우 */
  /* padding-bottom값은 4:3 비율인 경우 75%로 설정합니다 */
  height: 0;
}

.youtubeEmded{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 850px;
  height: 70%;
  border:none;
}

.detailBox{
  display:flex;
  justify-content: center;
  width:850px;
  margin:500px auto 0;
}

.mainImg{
  width:300px;
  height:100%;
}

.textBox{
  width:100%;
  min-width:400px;
  margin-left:20px;
  padding:20px;
}
.textBox > h4{
  font-size:22px;
}
.textBox > p{}
.textBox > p:nth-last-of-type(1){margin-top:20px;}
.textBox > span{}
.textBox > ul{
  display:flex;
}
.textBox > ul > li:nth-of-type(1){
  margin-left:0;
}
.textBox > ul > li{
  margin-left:10px;
}

  
/* @media screen and (max-width: 1090px) {
  .movies {
    grid-template-columns: 1fr;
    width: 100%;
  }
} */